@model IEnumerable<BeFit.Models.ExerciseExecution>

@{
    ViewData["Title"] = "Wykonane ćwiczenia";
}

<h1>Moje wykonane ćwiczenia</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj nowe wykonane ćwiczenie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingSession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepetitionsPerSet)
            </th>
            <th>
                Łączne powtórzenia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseType!.Name)
            </td>
            <td>
                <strong>@Html.DisplayFor(modelItem => item.TrainingSession!.Name)</strong>
                <br />
                <small class="text-muted">@Html.DisplayFor(modelItem => item.TrainingSession!.StartDateTime)</small>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight) kg
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepetitionsPerSet)
            </td>
            <td>
                @(item.NumberOfSets * item.RepetitionsPerSet)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Szczegóły</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edytuj</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>

